/*
 * 对话框盒子
 */
.dialog {
  margin: 2em .2rem;
  border: 1px solid var(--borderColorLight);
  font-size: .18rem;
}

/** 标题 **/
.dialog_title {
  position: relative;
  padding: 0 .3rem;
  border-bottom: 1px solid var(--pageColor);
  background-color: #fff;
  font-weight: normal;
  font-size: .28rem;
  line-height: 2.8;
}
.dialog_title .fa {
  margin-right: .5em;
  font-size: .35rem;
  color: var(--zcColor);
}

/** 列表 **/
.dialog_list_item {
  padding: 1em .3rem;
  margin-bottom: .8em;
  background-color: #fff;
}
/* 用户 */
.dialog_list_item_user {
  display: flex;
  align-items: center;
}
.dialog_list_item_user_avatar {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.dialog_list_item_user_name {
  margin-left: .8em;
  font-weight: bold;
  font-size: .26rem;
}
/* 评论 */
.dialog_list_item_content {
  margin: 1em 0;
}
/* 评论时间 */
.dialog_list_item_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--fontColorLight);
}
.dialog_list_item_info_time .fa {
  margin-right: .3em;
}
.dialog_list_item_info_btn {
  border: 0;
  margin-left: 1em;
  background-color: transparent;
  color: var(--zcColor);
  cursor: pointer;
  font-size: .2rem;
}
.dialog_list_item_info_btn .fa {
  margin-right: .3em;
}

/* 子评论列表 */
.dialog_sublist {
  position: relative;
  padding: 0 6%;
  border-top: 1px solid var(--borderColorLight);
  margin: 22px 0;
}
.dialog_sublist-progress {
  padding: 0;
  border-top: 0;
  border-left: 1px solid var(--borderColorLight);
  margin-left: 8%;
}
.dialog_sublist_arrow {
  position: absolute;
  left: 5.1852%;
  top: -8px;
  width: 0;
  border-width: 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent #e9e7e7;
}
.dialog_sublist_item {
  margin-top: 14px;
}
.dialog_sublist_item-progress {
  display: flex;
  justify-content: space-between;
}
.dialog_sublist_progressTime {
  margin-left: -2em;
  color: var(--fontColorLight);
}
.dialog_sublist_progressTime time {
  display: inline-block;
  padding: .5em 0;
  background-color: #fff;
}
.dialog_sublist_item_username {
  font-weight: bold;
  font-size: .22rem;
}
.dialog_sublist_item_comment {
  width: 85%;
  flex-basis: 85%;
  position: relative;
  padding: 1em;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #e9e7e7;
}
.dialog_sublist_item_comment-progress {
  margin-top: 5px;
}
.dialog_sublist_item_arrow {
  position: absolute;
  left: 5.1852%;
  top: -8px;
  width: 0;
  border-width: 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent #e9e7e7;
}
.dialog_sublist_item_arrow-progress {
  left: -8px;
  top: 21.4286%;
  border-width: 8px 8px 8px 0;
  border-color: transparent #e9e7e7;
}
.dialog_sublist_item_content {
  line-height: 1.5;
}
.dialog_sublist_item_content--progress {
  height: 54px;
  overflow: hidden;
}
.isAuto {
  height: auto;
}
.dialog_sublist_item .dialog_list_item_info_time {
  display: block;
  margin-top: 1em;
  text-align: right;
}
.dialog_sublist_item_comment_more {
  margin-top: 6px;
  text-align: right;
}
.dialog_sublist_item_comment_more_link {
  padding: .5em;
  color: var(--zcColor);
  text-decoration: none;
}

/** 展开评论 **/
.dialog_more {
  text-align: center;
}
.dialog_more_link {
  display: inline-block;
  padding: .5em .8em;
  color: var(--zcColor);
  text-decoration: none;
}

/*
 * 发布评论
 */
.reply {
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  width: 100%;
  max-width: 750px;
  padding: .5em 1em;
  background: #fff;
  box-shadow: 0 -3px 3px #eee;
  font-size: .28rem;
  transform: translateX(-50%);
}
.reply_box {
  flex: 1;
  display: flex;
  position: relative;
}
.replay_box_input,
.replay_box_label {
  border: 1px solid var(--borderColorLight);
}
.replay_box_input {
  flex: 1;
  display: block;
  padding-left: 1em;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.replay_box_label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .5em;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: .45rem;
  color: var(--fontColorLight);
}
.reply_btn {
  padding: .5em .2em;
  border: 0;
  background: transparent;
  color: var(--zcColor);
  cursor: pointer;
}
.reply_box_name {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5em;
  color: #2991c6;
}
.is-hidden {
  display: none;
}
.is-focus {
  box-shadow: inset 0 0 5px #2991c6;
}
