/*
 * 对话框盒子
 */
.dialog {
  margin: 2em 3.7333%;
  background-color: #fff;
  border: 1px solid var(--borderColorLight);
}

/** 标题 **/
.dialog_title {
  padding: 1em 2.6667%;
  border-bottom: 1px solid var(--pageColor);
  font-weight: normal;
  font-size: 16px;
}
.dialog_title .fa {
  font-size: 20px;
  margin-right: .5em;
  color: var(--zcColor);
}

/** 列表 **/
.dialog_list {
  padding: 0 3.4482%;
}
.dialog_list_item {
  margin-top: 18px;
}
/* 用户 */
.dialog_list_item_user {
  display: flex;
  align-items: center;
}
.dialog_list_item_user_avatar {
  width: 55px;/* uc兼容 */
  width: 11.4942vw;
  max-width: 80px;
  height: 55px;/* uc兼容 */
  height: 11.4942vw;
  max-height: 80px;
  border-radius: 50%;
  background-color: red;
}
.dialog_list_item_user_name {
  margin-left: .8em;
  font-size: 15px;
}
/* 评论 */
.dialog_list_item_content {
  padding: .8em 0;
  font-size: 14px;
  line-height: 1.5;
}
/* 评论时间 */
.dialog_list_item_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: var(--fontColorLight);
}
.dialog_list_item_info_time .fa {
  margin-right: .3em;
  font-size: 14px;
}
.dialog_list_item_info_btn {
  border: 0;
  background-color: transparent;
  color: var(--zcColor);
}
.dialog_list_item_info_btn .fa {
  margin-right: .3em;
  font-size: 24px;
}

/* 子评论列表 */
.dialog_sublist {
  position: relative;
  padding: 0 6%;
  border-top: 1px solid var(--borderColorLight);
  margin: 22px 0;
}
.dialog_sublist-progress {
  padding: 0;
  border-top: 0;
  border-left: 1px solid var(--borderColorLight);
  margin-left: 8%;
}
.dialog_sublist_arrow {
  position: absolute;
  left: 5.1852%;
  top: -8px;
  width: 0;
  border-width: 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent #e9e7e7;
}
.dialog_sublist_item {
  margin-top: 14px;
}
.dialog_sublist_item-progress {
  display: flex;
  justify-content: space-between;
}
.dialog_sublist_progressTime {
  margin-left: -2em;
  font-size: 12px;
  color: var(--fontColorLight);
}
.dialog_sublist_progressTime time {
  display: inline-block;
  padding: .5em 0;
  background-color: #fff;
}
.dialog_sublist_item_username {
  font-size: 13px;
}
.dialog_sublist_item_comment {
  width: 85%;
  flex-basis: 85%;
  position: relative;
  padding: 1em 1em .4em;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #e9e7e7;
  font-size: 12px;
}
.dialog_sublist_item_comment-progress {
  margin-top: 5px;
}
.dialog_sublist_item_arrow {
  position: absolute;
  left: 5.1852%;
  top: -8px;
  width: 0;
  border-width: 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent #e9e7e7;
}
.dialog_sublist_item_arrow-progress {
  left: -8px;
  top: 21.4286%;
  border-width: 8px 8px 8px 0;
  border-color: transparent #e9e7e7 transparent;
}
.dialog_sublist_item_content {
  line-height: 1.5;
}
.dialog_sublist_item_content--progress {
  height: 54px;
  overflow: hidden;
}
.isAuto {
  height: auto;
}
.dialog_list_item_info_time {
  display: block;
  margin-top: 8px;
  text-align: right;
}
.dialog_sublist_item_comment_more {
  margin-top: 6px;
  text-align: right;
}
.dialog_sublist_item_comment_more_link {
  padding: .5em;
  color: var(--zcColor);
  text-decoration: none;
}

/** 展开评论 **/
.dialog_more {
  text-align: center;
}
.dialog_more_link {
  display: inline-block;
  padding: .5em .8em;
  color: var(--zcColor);
  text-decoration: none;
}

/*
 * 发布评论
 */
.reply {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  width: 100%;
  height: 50px; /* uc兼容 */
  height: 15.3333vw;
  max-height: 115px;
  padding: 0 3.7333%;
  background-color: #fff;
}
.reply_box {
  width: 84%;
  flex-basis: 84%;
  display: flex;
  height: 65.2173%;
}
.replay_box_input,
.replay_box_label {
  height: 100%;
  border: 1px solid var(--borderColorLight);
}
.replay_box_input {
  display: block;
  width: 85%;
  flex-basis: 85%;
  padding-left: 1em;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.replay_box_label {
  width: 15%;
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 26px;
  color: var(--fontColorLight);
}
.reply_btn {
  display: block; /* uc兼容*/
  width: 16%;
  flex-basis: 16%;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  color: var(--zcColor);
  text-align: center;
}
