/*众筹详情图片样式*/
.dtImg {
  /*padding-top: 2px;*/
  position: relative;
  width: 100%;
  height: 4rem;
  overflow: hidden;
}
.dtImg_img {
  width: 100%;
}
/*分享按钮样式*/
.dtImg_btn {
  position: absolute;
  right: .25rem;
  bottom: .25rem;
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  background: #000;
  opacity: .5;
  font-size: .5rem;
  color: #fff;
  text-align: center;
  line-height: .7rem;
}

/*众筹详情内容样式*/
.zcInfo {
  padding: 1em 1.2em;
  background: #fff;
  font-size: .18rem;
}
/*.dtSection_p {
  display: flex;
  padding-bottom: 16px;
  align-items: center;
}*/
.zcInfo_title {
  /*font-weight: normal;*/
  font-size: .28rem;
}
.zcInfo_title_status {
  /*width: 64px;
  height: 26px;*/
  /*padding-left: .5333%;*/
  padding: .2em .3em;
  border-bottom-left-radius: .4em;
  border-top-left-radius: .4em;
  margin-right: .5em;
  background: var(--zcColor);
  color: #fff;
}
/*.dtSection_p_tgle {
  width: 0;
  height: 26px;
  border-width: .615em;
  border-style: solid;
  border-color: transparent transparent transparent var(--zcColor);
}*/
/*.zcInfo_funds {
  padding: .8em 0;
  border-bottom: 4px dotted var(--borderColorLight);
}
.zcInfo_funds_item {
  display: inline-block;
}
.zcInfo_funds_item_num {
  margin: 0 .2em;
  font-weight: bold;
  font-size: .28rem;
}
.zcInfo_funds_slash {
  margin: 0 .5em;
}*/
/*.dtSection_p-border {
  border-bottom: 3px dotted var(--borderColorLight);
}*/
/*.dtSection_p-font {
  font-size: 20px;
}*/
/*.dtSection_progress {
  display: flex;
  padding-top: 16px;
  padding-bottom: 14px;
  justify-content: space-around;
}
.dtSection_progress_item {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.dtSection_progress_item span {
  padding-bottom: 4px;
}
.dtSection_progress_item_font {
  font-size: 26px;
}*/
/*.dtSection_line {
  height: 1.6vw;
  max-height: 12px;
  background-color: var(--zcColor);
  border-radius: 6px;
}*/
/*.zcInfo_text {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  align-items: center;
}
.zcInfo_text_content {
  flex: 1;
  flex-basis: 85%;
  width: 85%;
  padding: .4em;
}*/
/*.zcInfo .fa {
  font-size: 1rem;
}*/

/*字体图标样式*/
/*.rmb-red {
  font-size: 18px;
}
.rmb-black {
  font-size: 16px;
  padding-left: .6667%;
}
.angle-rightred {
  float: right;
  font-size: 36px;
}
.angle-rightblack {
  font-size: 70px;
  color: var(--fontColorLight);
}
.rmb-red,
.angle-rightred,
.dtSupport_list_li_title_span {
  color: var(--zcColor);
}*/

/*众筹回报信息样式*/
.zcSupportList {
  padding: 0 1.2em;
  font-size: .18rem;
}
.zcSupportList_item {
  /*margin-top: 2em;*/
  /*padding-bottom: 10px;*/
  border: 1px solid var(--borderColorLight);
  margin-bottom: 2em;
  background-color: #fff;
}
.zcSupportList_item_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
  border-bottom: 1px solid var(--borderColorLight);
  font-size: .18rem;
}
.zcSupportMoney {
  color: var(--zcColor);
}
.zcSupportMoney_num {
  font-weight: bold;
  font-size: .28rem;
}
.zcSupportLink {
  padding-left: 1em;
  font-size: .24rem;
  color: #333;
  text-decoration: none;
}
.zcSupportList_item_content {
  padding: 1em;
}
.zcSupportList_item_content_tilte {
  font-size: .18rem;
}
.zcSupportList_item_content_text {
  display: flex;
  margin: .4em 0;
  font-size: .18rem;
}
.zcSupportList_item_content_text span {
  flex: 1;
}
span.zcSupportLabel {
  flex: 0;
  display: block;
  flex-basis: 5.5em;
  width: 5.5em;
}
.zcSupportLabel.long {
  flex-basis: 9.5em;
  width: 9.5em;
}
.zcSupportList_div {
  height: 0;
  border-top: 1px solid var(--borderColorLight);
  margin: 1em 0;
}
.zcSupportList .bold {
  font-weight: bold;
}

/*.dtSupport_list_li {
  border-bottom: 1px solid var(--borderColorLight);
}
.dtSupport_list_text {
  padding-top: 14px;
  color: var(--fontColorLight);
}
.dtSupport_list_li_title,
.dtSupport_list_text_item {
  margin: 0 3.2%;
}
.dtSupport_list_li_title {
  padding: 10px 0;
}
.dtSupport_list_li_title_span {
  font-size: 28px;
  font-weight: bold;
}
.dtSupport_list_text_item {
  padding-bottom: 14px;
}
.dtSupport_list_text_item-border {
  border-bottom: 1px solid var(--borderColorLight);
}
.dtSupport_list_text_item-font {
  color: #333;
}*/

/*项目进展样式*/
ul.dialog_sublist-borderLeft {
  border: 0;
  margin-top: -14px;
}
.dialog_sublist_progressTime-pTop {
  padding-top: 10px;
}

/*评论样式*/
.dialog_title_more {
  position: absolute;
  top: 50%;
  right: 1em;
  text-decoration: none;
  color: #333;
  font-size: .18rem;
  transform: translateY(-50%);
}
ul.dialog_sublist-border {
  border: 0;
  padding-left: 15.7333%;
  padding-right: 0;
  margin-top: -10px;
}
.dialog_sublist_item_content-nowrap {
  padding-bottom: 7.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

/*众筹金额*/
/*.zcInfo_price {
  padding-bottom: 16px;
}
.zcInfo_price_item {
  display: inline;
}
@media screen and (max-width: 450px) {
    .zcInfo_price_item {
      display: block;
  }
    .zcInfo_price_sprit {
    display: none;
  }
}*/
