/* 众筹标签 */
.zcTag {
  padding: .4em .6em;
  border-radius: 5px;
  background-color: var(--zcColor);
  color: #fff;
}
.list_item_img .zcTag {
  background: #333;
  opacity: .7;
}
/* 众筹列表 */
.list_item {
  border-radius: 5px;
}
/* 标题 */
.list_item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0;
  font-weight: normal;
  font-size: .18rem;
}
.list_item_header .zcTag {
  display: block;
  margin-right: .5em;
  font-weight: normal;
}
.list_item_header .fa {
  display: block;
  padding: .4em 0 .4em 1em;
  font-size: .25rem;
}
.list_item_header_text {
  display: block;
  flex: 1;
  font-weight: bold;
  font-size: .3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 图片 */
.list_link {
  display: block;
  width: 100%;
}
.list_item_img {
  width: auto;
  position: relative;
  margin: 0 -.2rem;
  height: 3rem;/* 临时 */
  overflow: hidden;
}
.list_item_img a {
  display: block;
  width: 100%;
}
.list_item_img img {
  width: 100%;
}
.list_item_img .zcTag {
  position: absolute;
  top: 15px;
  left: 15px;
}
.list_item_money,
.list_item_info {
  color: var(--fontColorLight);
}
.list_item_number {
  color: #333;
  font-size: .22rem;
}
.list_item_money {
  padding: .8em 0;
  border-bottom: 1px dotted var(--borderColorLight);
}
.list_item_info {
  display: flex;
  justify-content: space-around;
}
.list_item_info_sect {
  padding: .8em 0;
  text-align: center;
}
@keyframes progress-bar-stripes {
  from {
    background-position: 20px 0;
  }
  to {
    background-position: 0 0;
  }
}
.list_item_progress {
  width: 100%;
  height: 10px;
  border-radius: 3px;
  background: #e6e6e6;
  overflow: hidden;
}
.list_item_progress_info {
  height: 10px;
  animation: progress-bar-stripes 2s linear infinite;
  background: var(--zcColor) linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 20px 20px;
}
.list_item_intro {
  padding: 1.2em 0;
  word-break: break-all; /* 项目摘要折行*/
}

/*点赞切换样式*/
.list_item_header .cgColor {
  color: var(--zcColor);
}
