.reservationImfor {
  background-color: #fff;
}
.reservationImfor_width {
  display: block;
  border-bottom: 1px solid #ccc;
}
.reservationImfor > p {
  padding: 15px 26% 25px;
  border-bottom: 1px solid #ccc;
}
.reservationImfor > p > input {
  margin-right: 5px;
  background-color: #ea544a;
}
.reservationImfor_btn {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
.reservationImfor_btn > button {
  background: #ea544a;
}
