.listItem {
  display: flex;
  padding: 20px 0 10px 0;
  border-bottom: 2px solid #ccc;
  font-size: 12px;
}
.listItem:last-child {
  border: 0;
}
.listItem h3 {
  font-weight: normal;
  font-size: 16px;
}
.listItem h3 small {
  font-size: 12px;
}
.listItem_unfold {
  float: right;
  cursor: pointer;
  font-size: 14px;
}
.listItem_content {
  margin-top: .5em;
  overflow: hidden;
  font-size: 14px;
  line-height: 16px;
  text-indent: 2em;
  word-break: break-all;
}
.listItem_time {
  text-align: right;
  line-height: 1.8;
}

.listItem section > div > div {
  line-height: 2;
}
.listItem .multiple span > span {
  margin-right: 1em;
  color: red;
}
.listItem .other {
  font-size: 16px;
}