.header-logo {
  background-image: url("../img/zxsjlogolqt.png");
}
.srch-join .srch_input {
  width: 100%;
  padding: 0 15px;
  border-radius: 50px;
}
.srch-join .srch_label {
  margin-left: -100px;
  border-radius: 50px;
  background: var(--zcsjColor);
  padding: 0 2em;
  color: #fff;
}
.grid_item_icon {
  background: var(--zcsjColor);
}
.grid_item_icon i {
  font-size: 20px;
}
.img {
  display: block;
  width: 100%;
  height: 100px;
  height: 24.8vw;
  max-height: 186px;
  /*background: #0097e1;*/
}
.content {
  background: #fff;
  padding: 10px 0;
}
.zxList_item_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.7333%;
  line-height: 3;
  border-top: 1px solid var(--borderColorLight);
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
.zxList li:first-child .zxList_item_link {
  border: 0;
}
.zxList_item_link .fa {
  font-size: 20px;
}
.content_more {
  display: block;
  width: 92.5334%;
  border: 0;
  border-radius: 3px;
  margin: 10px auto;
  background: #dfdfdf;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
}
.content_img {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 3.7333%;
}
.content_img img {
  display: block;
  width: 48%;
  height: 100px;
  height: 26.1333vw;
  max-height: 196px;
  /*background: #0097e1;*/
}
