.address_list {
  margin: 12px 0;
  padding: 2.6667%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.address_list_msg {
  line-height: 1.5;
}
.address_list_msg > span:last-child {
  margin-left: .8em;
}
.address_list_address > span:nth-child(n+2) {
  margin-left: .4em;
}
.address_center > i {
  padding: 20px 0;
  color: red;
}