{
  "extends": "stylelint-config-standard",
  "rules": {
    "rule-non-nested-empty-line-before": null,
    "comment-empty-line-before": null,
    "comment-whitespace-inside": null,
    "at-rule-empty-line-before": null,
    "number-leading-zero": "never"
  },
  "ignoreFiles": "node_modules/font-awesome/css/font-awesome.css"
}