.uLink .fa {
  font-size: 22px;
  color: #777;
}
.uLink .fa-angle-right {
  color: #ccc;
}
.uLink {
  border-bottom: 1px solid #f1f1f1;
  letter-spacing: .1em;
}
.uLink:last-child .uLink_right {
  border: 0;
}
