.formButton {
  width: 80%;
  border: 0;
  border-radius: 5px;
  margin-top: 1em;
  background: #cc1414;
  font-size: .22rem;
  color: #fff;
  line-height: 3;
  cursor: pointer;
}
.formButton[disabled] {
  background: #e3e3e3;
}
