.list_item-comment {
  display: flex;
}
.list_item_unfold {
  float: right;
  cursor: pointer;
}
.list_item_content {
  margin-top: .5em;
  overflow: hidden;
  text-indent: 2em;
  word-break: break-all;
}
.list_item_para.list_item_para-right {
  text-align: right;
  color: var(--fontColorLight);
}
