* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "microsoft yahei", sans-serif;
}
ul,
ol {
  list-style: none;
}

:root {
  --pageColor: #e7e8ed;
  --rczpColor: #3d9ccc;
  --rczpColorDark: #2991c6;
  --zcColor: #ea544a;
  --fontColorLight: #888;
  --borderColorLight: #e3e3e3;
  --HighlightColorOrange: #ea572b;
}

html,
body {
  background-color: var(--pageColor);
  color: #333;
}
.page {
  max-width: 750px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  /*可能要单独设一个类，因为有的页面没有底栏*/
  margin-bottom: 55px;
}

/* 头部 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 4%;
  color: #fff;
}
.header-singleRight {
  justify-content: flex-end;
}

/* 底部 */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  border-top: 1px solid var(--borderColorLight);
  background: #fff;
  box-shadow: 0 -1px 3px #ddd;
}
.footer_link {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
.footer_link .fa {
  font-size: 20px;
  margin-right: .25em;
}

/* 过滤栏 */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 16px 6.6667%;
  border-bottom: 1px solid var(--borderColorLight);
  background-color: #fff;
  font-size: 16px;
}
.filter_title {
  display: flex;
}
.filter_title_arrow {
  align-self: center;
  width: 0;
  border-width: .35em .35em 0 .35em;
  border-style: solid;
  border-color: #333 transparent transparent;
  margin-left: .3333em;
}