/* 分类盒子 */
.cate_item {
  padding: 1em .2rem;
  margin-bottom: 2px;
  background: #fff;
  color: #666;
}
.cate_item_title {
  display: flex;
  align-items: center;
  font-size: .22rem;
}
.cate_item_title .fa {
  margin-right: .25em;
  font-size: 24px;
  color: var(--rczpColor);
}
.cate_item_list {
  display: flex;
  padding: 0 1.5em;
}
.cate_item_list li {
  width: 33.3333%;
  flex-basis: 33.3333%;
  margin: .4em 0;
  /*margin-right: 5%;*/
  font-size: .2rem;
  text-align: center;
}
.cate_item_list li a {
  display: block;
  padding: .5em 0;
  margin: 0 .5em;
  text-decoration: none;
}
.cate_item_list li:last-child {
  margin-right: 0;
}

/* 热门搜索变体 */
.cate_item-search {
  border: 0;
  margin: 0;
  background-color: transparent;
}
.cate_item-search_title {
  font-size: .28rem;
  line-height: 3;
}
.cate_item-search_list li a {
  background-color: #fff;
}
