/* 分类盒子 */
.cate_item {
  padding: 20px 0 5px;
  margin-bottom: 2px;
  background: #fff;
  color: #666;
}
.cate_item_title {
  display: flex;
  align-items: center;
  padding-left: 3.73%;
}
.cate_item_title .fa {
  margin-right: .25em;
  font-size: 24px;
  color: var(--rczpColor);
}
.cate_item_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 6.5%;
}
.cate_item_list li {
  width: 30%;
  flex-basis: 30%;
  margin: 8px 1.6667%;
  font-size: 16px;
  text-align: center;
}

/* 热门搜索变体 */
.cate_item-search {
  border: 0;
  margin: 0;
  background-color: transparent;
}
.cate_item-search_title {
  margin-bottom: 10px;
}
.cate_item-search_list li {
  padding: .4em 0;
  background-color: #fff;
}
