.filter {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  border-bottom: 1px solid var(--borderColorLight);
  background-color: #fff;
  font-size: 15px;
}
.filter.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.filter_item {
  flex-basis: 33.3333%;
  flex: 1;
}

/* 标题 */
.filter_title {
  position: relative;
  z-index: 1;
  padding: 1em 0;
  background: #fff;
  text-align: center;
}
.filter_title-line {
  display: flex;
}
.is-show .filter_title {
  font-weight: bold;
}
.filter_title_text {
  display: block;
  width: 100%;
}
.filter_title_text i {
  vertical-align: middle;
  margin-left: .3em;
  transform: rotate(180deg);
}
.is-show .filter_title_text i {
  transform: rotateY(0);
}
.filter_title-line::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  border-right: 1px solid var(--borderColorLight);
}

/* 内容 */
.filter_content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  padding-top: 50px; /* 顶部过滤栏50 */
  border: 0 solid;
  border-top: 13.3333vw solid transparent; /* 头部高度 */
  background: #fff;
  box-shadow: 0 0 3px #ddd;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: transform .3s ease-out;
}
@media screen and (min-width: 750px) {
  .filter_content {
    left: 50%;
    max-width: 750px;
    margin-left: -375px;
  }
}
.filter_content::before {
  content: '';
  height: 1px;
  background: var(--borderColorLight);
}
.is-fixed .filter_content {
  border-top: 0;
}
@media screen and (max-width: 375px) {
  .filter_content {
    border-top-width: 50px;
  }
}
@media screen and (min-width: 750px) {
  .filter_content {
    border-top-width: 100px;
  }
}
.is-show .filter_content {
  transform: scaleY(1);
}
.filter_content_btns {
  /*flex: 0;*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 12%;
  flex-basis: 12%;
  background: #fff;
  box-shadow: 0 -3px 3px #ddd;
  text-align: center;
}
.filter_content_btn {
  width: 9em;
  height: 80%;
  max-height: 45px;
  border: 0;
  border-radius: 3px;
  background-color: var(--rczpColor);
  font-size: 16px;
  color: #fff;
}
.filter_content_btn-noBg {
  border: 0;
  background: transparent;
  color: var(--rczpColor);
}

/* 列表模式 */
.filter_content_list {
  flex: 1;
  width: 100%;
  overflow: auto;
}
.filter_content_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 0 7.4667%;
  border-bottom: 1px solid var(--borderColorLight);
  background-color: #fff;
  line-height: 54px;
}
.filter_content_list_item .fa-check-circle {
  display: none;
}
.filter_content_list_item.is-active .fa-check-circle {
  display: block;
  font-size: 18px;
}
