*,
figure {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "microsoft yahei", sans-serif;
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
}
body {
  color: #333;
  background: #ccc;
}
a {
  color: #333;
}
input { /*safari*/
  border-radius: 0;
}
input,
select,
textarea { /*safari*/
  -webkit-appearance: none !important;
}

html.is-static,
html.is-static body,
html.is-static .page {
  height: 100%;
  overflow: hidden;
}
/* 兼容烂UC */
html,
body,
.page {
  min-height: 100%;
}
.page {
  max-width: 750px;
  /*min-height: 100vh;*/
  margin: 0 auto;
  /*overflow: hidden;*/
  padding-bottom: .2rem;
  margin-bottom: .84rem;
  background-color: var(--pageColor);
}
/*@media screen and (min-width: 750px) {
  .page {
    margin-bottom: 90px;
  }
}*/
.page-noMb {
  margin-bottom: 0;
}
.page-white {
  background-color: #fff;
}

.cut {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
