*,
figure {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "microsoft yahei", sans-serif;
}
ul,
ol {
  list-style: none;
}

body {
  color: #333;
  background: #ccc;
}
body.is-static {
  height: 100%;
  overflow: hidden;
}
.page {
  max-width: 750px;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  /*overflow: hidden;*/
  /*可能要单独设一个类，因为有的页面没有底栏*/
  margin-bottom: 55px;
  margin-bottom: 12vw;
  background-color: var(--pageColor);
  overflow: hidden;
}
@media screen and (min-width: 750px) {
  .page {
    margin-bottom: 90px;
  }
}
.page-noMb {
  margin-bottom: 0;
}
.page-white {
  background-color: #fff;
}

.cut {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
