.gridWrap {
  background-color: #fff;
  border-bottom: 1px solid var(--borderColorLight);
  overflow: hidden;
}
.grid {
  display: flex;
  justify-content: space-between;
  /*width: 100%;*/
  padding: 1em 2.2em .5em;
  background: #fff;
  font-size: .18rem;
}
.grid_item {
  text-align: center;
}
.grid_item a {
  text-decoration: none;
}
.grid_item_icon { /* 图标 */
  display: block;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background: #74acf8;
  font-size: .3rem;
  color: #fff;
  line-height: .8rem;
}
div.grid_item_icon { /* 纯文字 */
  font-size: .2rem;
}
.grid_item_icon-big {
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
}
.grid_item_text {
  display: block;
  line-height: 2.5;
}

/* 过滤栏变种 */
.filter_content_list .grid_item_icon {
  box-sizing: content-box;
  padding: 3px;
  border: 1px solid transparent;
  background-clip: content-box;
}
.filter_content_list .grid_item_icon-big.is-active {
  border-color: #74acf8;
}
