/**
 * 列表
 */
/*.listWrap {
  margin: .2rem;
  font-size: .18rem;
}*/
.list {
  margin: .2rem;
  font-size: .18rem;
}
.list_item {
  padding: .2rem;
  border: 1px solid var(--borderColorLight);
  margin-bottom: 15px;
  background-color: #fff;
  overflow: hidden;
}
/*.list_item_a {
  display: flex;
  align-items: center;
  text-decoration: none;
}*/
/* 图片 */
.list_item_img {
  display: flex;
  align-items: center;
  width: 1rem;
  height: 1rem;
  margin-right: 2em;
  overflow: hidden;
  background: #f3f3f3;
}
.list_item_img img {
  width: 100%;
}
/* 文本 */
.list_item_text {
  flex: 1;
}
.list_item_img img { /*修改样式，暂改列表图片大小*/
  width: 100%;
}
.list_item_text_p {
  /*margin-bottom: 6px;*/
  font-size: .18rem;
  line-height: 2;
}
.list_item_text_p-light {
  color: var(--fontColorLight);
}
.list_item_text_p_item {
  margin-right: 1em;
}
.list_more {
  width: 100%;
  padding: 1em 0;
  margin-top: 10px;
  background-color: #fff;
  font-size: 16px;
  border: 0;
}
/* disabled样式可能需要优化 */
.list_more[disabled] {
  color: #bbb;
}
/* 图标 */
.list_item_icon {
  display: flex;
  align-items: center;
}
.list_item_icon .fa {
  /*color: var(--zckjColor);*/
  /*padding: 0 .5em;*/
  font-size: 40px;
}

/*加载栏*/
.list_load {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  /* margin-top: -.6em;  需要检查每一页 */
  font-size: .3rem;
  color: #999;
}
.list_load .fa {
  font-size: .5rem;
}

/* 折行自适应 */
.list_wrap {
  display: inline-block;
  margin-right: 1em;
}
