/**
 * 列表
 */
.listWrap {
  margin: 22px 3.4667%;
  font-size: 16px;
}
.list_item {
  padding: 3% 2%;
  border: 1px solid var(--borderColorLight);
  margin-bottom: 15px;
  background-color: #fff;
  overflow: hidden;
}
.list_item_a {
  display: flex;
  text-decoration: none;
}
/* 图片 */
.list_item_img {
  width: 18%;
  margin-right: 5.1873%;
  align-self: center;
  flex-shrink: 0;
}
/* 文本 */
.list_item_text {
  flex-grow: 1;
}
.list_item_img img { /*修改样式，暂改列表图片大小*/
  width: 100%;
}
.list_item_text_p {
  margin-bottom: 6px;
  font-size: 12px;
}
.list_item_text_p-light {
  color: var(--fontColorLight);
}
.list_more {
  width: 100%;
  padding: 1em 0;
  margin-top: 10px;
  background-color: #fff;
  font-size: 16px;
  border: 0;
}
/* disabled样式可能需要优化 */
.list_more[disabled] {
  color: #bbb;
}
/* 图标 */
.list_item_icon {
  display: flex;
  align-items: center;
}
.list_item_icon .fa {
  /*color: var(--zckjColor);*/
  padding: 0 .3em;
  font-size: 40px;
}

/*加载栏*/
.list_load {
  padding: 1em;
  text-align: center;
  font-size: 18px;
  color: #999;
  background-color: #c7c2c2;
}
.list_load .fa {
  color: #fff;
}
.list_load_text {
  padding-left: .5em;
}
