/*雇主样式*/
.person .list_item {
  margin: 0;
}
.person_name {
  font-size: .24rem;
}
.person_item {
  margin-right: 1em;
}
.person_item_value {
  color: red;
}

.person_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8em .2rem;
  background: #fff;
  font-size: .18rem;
}
.person_bar_l .fa {
  margin-right: .4em;
  font-size: .22rem;
  color: #0097e0;
}
.person_bar_btn {
  padding: .4em 1em;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
.person_bar_btn .fa {
  margin-right: .4em;
}
