.srch {
  display: flex;
  align-items: stretch;
  margin: 1em .2rem;
  font-size: .2rem;
}
.srch-bg {
  padding: 1em .2rem;
  margin: 0;
  background: #fff;
}
.srch_wrap {
  width: 83%;
  flex-basis: 83%;
  display: flex;
}
.srch_label,
.srch_input {
  /*height: 50px;
  height: 9.3333vw;
  max-height: 70px;*/
  padding: .8em 0;
  border: 1px solid var(--borderColorLight);
  background-color: #fff;
}
.srch_label {
  display: flex;
  align-items: center;
  padding: 0 1.6em;
  border-right: 0;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  color: var(--fontColorLight);
}
.srch_input {
  flex: 1;
  display: block; /* uc */
  /*width: 83%;*/
  border-left: 0;
  /*border-top-left-radius: 0;
  border-bottom-left-radius: 0;*/
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}
.srch_btn {
  display: block; /* uc */
  width: 17%;
  flex-basis: 17%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

/* 左右拼合变体 */
.srch-join {
  justify-content: space-between;
}
.srch-join .srch_wrap {
  flex: 1;
}
.srch-join .srch_label {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.srch-join .srch_input {
  border-radius: 0;
  /*border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;*/
}
.srch-join .srch_btn {
  width: 22%;
  flex-basis: 22%;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}
