.srch {
  display: flex;
  align-items: stretch;
  padding: 10px 3.7333%;
}
.srch_wrap {
  width: 83%;
  flex-basis: 83%;
  display: flex;
}
.srch_label,
.srch_input {
  height: 50px; /* uc */
  height: 9.3333vw;
  max-height: 70px;
  border: 1px solid var(--borderColorLight);
  background-color: #fff;
}
.srch_label {
  display: flex;
  align-items: center;
  padding: 0 2% 0 5%;
  border-right: 0;
  border-top-left-radius: 25px; /* uc */
  border-top-left-radius: 4.6667vw;
  border-bottom-left-radius: 25px; /* uc */
  border-bottom-left-radius: 4.6667vw;
  color: var(--fontColorLight);
}
.srch_label .fa {
  font-size: 20px;
}
.srch_input {
  display: block; /* uc */
  width: 88%;
  border-left: 0;
  border-top-left-radius: 0; /*safari*/
  border-bottom-left-radius: 0; /*safari*/
  border-top-right-radius: 25px; /* uc */
  border-top-right-radius: 4.6667vw;
  border-bottom-right-radius: 25px; /* uc */
  border-bottom-right-radius: 4.6667vw;
  -webkit-appearance: none; /*safari*/
}
.srch_btn {
  display: block; /* uc */
  width: 17%;
  flex-basis: 17%;
  border: 0;
  background-color: transparent;
  font-size: 16px;
}

/* 左右拼合变体 */
.srch-join {
  justify-content: space-between;
}
.srch-join .srch_wrap {
  width: 77%;
  flex-basis: 77%;
}
.srch-join .srch_label {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.srch-join .srch_input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  /*-webkit-appearance: none;*/
}
.srch-join .srch_btn {
  width: 22%;
  flex-basis: 22%;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px;
  color: #fff;
}
