:root {
  --pageColor: #e7e8ed;
  --rczpColor: #3d9ccc;
  --rczpColorDark: #2991c6;
  --zcColor: #ea544a;
  --zckjColor: #0097e0;
  --kjfwColor: #f60;
  --zbColor: #e24846;
  --cysjColor: #e0383a;
  --srdzColor: #e0383a;
  --fontColorLight: #888;
  --borderColorLight: #e3e3e3;
  --HighlightColorOrange: #ea572b;
  --mgsColor: #f15353;
  --zcsjColor: #0097e1;
  --homeColor: #eb6100;
  --companyColor: #0657a9;
  --ucColor: #cc1414;
  --sbcsColor: #f64914;
  --cqbhColor: #129341;
}
