.contactTitle {
  font-weight: normal;
  padding: .2em .2rem;
  font-size: .22rem;
}
.contactTitle::before {
  display: inline-block;
  content: "";
  height: .8em;
  margin-right: .6em;
  border: 3px solid var(--companyColor);
}
.contactText {
  padding: .2em .2rem;
  font-size: .22rem;
  background: #fff;
}
.contactList {
  padding: 0 .2rem;
  font-size: .18rem;
  color: var(--fontColorLight);
}
.contactList_item {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2;
}
