/* 头部 */
.header-home {
  background: var(--homeColor) url("../img/index.png") .2rem center no-repeat;
  background-size: 25%;
}
.srch-join {
  width: 65%;
  margin: 0;
  margin-left: auto;
}
.srch-join .srch_input {
  display: block;
  width: 100%;
  padding-left: 15px;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.srch-join .srch_label {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 0;
}
/* 列表 */
.grid_item_icon {
  border-radius: 5px;
}
.grid_item_icon .fa {
  font-size: .5rem;
}
.kjfw {
  background: #f82;
}
.rczp {
  background: #f7ba5b;
}
.cysj {
  background: #ea6644;
}
.zc {
  background: #6ce;
}
.zxsj {
  background: #157cc7;
}
.gsss {
  background: #d04f6e;
}
.srdz {
  background: #7788f2;
}
.cygc {
  background: #2bb2a3;
}
/* 头条 */
.top {
  padding: .2em .2rem .2em 1.5rem;
  border: 1px solid var(--borderColorLight);
  border-width: 1px 0;
  background: #fff;
  background-position: .2rem center;
  background-repeat: no-repeat;
  background-size: 14%;
  background-image: url("../img/hot.png");
  font-size: .18rem;
}
.topLinksWrapper {
  height: .36rem;
  overflow: hidden;
}
.topLinks a {
  display: block;
  line-height: 2;
  text-decoration: none;
}
.top_circle {
  display: inline-block;
  width: .1rem;
  height: .1rem;
  border-radius: 50%;
  margin-right: .5em;
  background: #e89800;
}
