/* 头部 */
.indexColor {
  background: var(--homeColor);
}
.backImg {
  width: 100%;
  background-position: center  left;
  background-repeat: no-repeat;
  background-size: 25%;
  background-image: url("../img/index.png");
}
.srch-join {
  margin-left: auto;
  /*margin-right: 0px;*/
  width: 67.4667%;
  padding: 10px 0;
}
.srch-join .srch_input {
  display: block;
  width: 100%;
  padding-left: 15px;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.srch-join .srch_label {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 0;
}
/* 列表 */
.grid_item_icon {
  border-radius: 5px;
}
.grid_item_icon .fa {
  font-size: 20px;
}
.kjfw {
  background: #f82;
}
.rczp {
  background: #f7ba5b;
}
.cysj {
  background: #ea6644;
}
.zc {
  background: #6ce;
}
.zxsj {
  background: #157cc7;
}
.gsss {
  background: #d04f6e;
}
.srdz {
  background: #7788f2;
}
.cygc {
  background: #2bb2a3;
}
/* 头条 */
.topLine {
  padding: 0 3.7333%;
  border-top: 2px solid var(--borderColorLight);
  background: #fff;
}
.topLine_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 17%;
  line-height: 3;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  background-position: center  left;
  background-repeat: no-repeat;
  background-size: 14%;
  background-image: url("../img/hot.png");
}
.topLine_link_p .fa {
  font-size: 12px;
  color: #e89800;
}
.topLine_link_p_span {
  color: #ddd;
  margin-right: .5em;
}
.nav_link .fa {
  margin-right: 0;
}
.topLine_filterBox {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  vertical-align: middle;
}
