.listTabs {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  padding: 1em 0;
  background: #fff;
  font-size: .18rem;
}
.listTab {
  padding: .6em 1.5em;
  border-radius: 3em;
  background: #999;
  color: #fff;
  cursor: pointer;
  transition: all .1s;
}
.is-active {
  background: #46a0ce;
}
