.acBackgroundcolor {
  background-color: #fff;
}
/*
*登录*
*/
.acRegister {
  padding: 44px 3.7333%;
  display: flex;
  justify-content: center;
  
}
.acRegister_text {
  align-self: center;
  margin-left: .5em;
  /*color: var(--fontColorLight);*/
  font-size: 16px;
}

/*
*帐户信息*
*/
.acMessage {
  padding: 20px 3.7333%;
}
.acMessage p {
  padding: .5em 0;
  border-bottom: 1px solid #f0f0f0;
  /*color: #666;*/
  font-size: 14px;
}
.acMessage p .fa {
  color: var(--rczpColor);
  font-size: 16px;
}
/*退出登录*/
.acMessage button {
  width: 100%;
  padding: 10px 0;
  margin-top: 5em;
  color: #fff;
  background-color: var(--rczpColor);
}
.acMessage button .fa {
  font-size: 16px;
  margin-right: .6em;
}



