.acBackgroundcolor {
  background-color: #fff;
}
/*
*登录*
*/
.acRegister {
  padding: 3em 3.7333%;
  display: flex;
  justify-content: center;
}
.acRegister img {
  width:65px;
  width: 20vw;
  height:65px;
  height: 20vw;
  border-radius: 50px;
  background: red;
}
.acRegister_text {
  line-height: 65px;/*uc兼容*/
  /*align-self: center;*/
  margin-left: .5em;
  /*color: var(--fontColorLight);*/
  font-size: 16px;
}

/*
*帐户信息*
*/
.acMessage {
  padding: 2em 3.7333%;
}
.acMessage p {
  padding: .5em 0;
  border-bottom: 1px solid #f0f0f0;
  /*color: #666;*/
  font-size: 14px;
}
.acMessage p .fa {
  color: var(--rczpColor);
  font-size: 16px;
  margin-right: .5em;
}
/*退出登录*/
.acMessage button {
  width: 100%;
  padding: 1em 0;
  margin-top: 5em;
  border: 0;
  color: #fff;
  background-color: var(--rczpColor);
}
.acMessage button .fa {
  font-size: 16px;
  margin-right: .6em;
}
