/* 头部 */
header {
  background-color: var(--rczpColor);
}

/* 导航 */
.nav_link-active {
  color: var(--rczpColor);
}

/* 块标题 */
.title {
  padding: .65em 0;
  border-top: 2px solid var(--rczpColor);
  font-weight: normal;
  color: var(--rczpColor);
  text-align: center;
}
/* 线条穿过标题 */
.titleLine {
  position: relative;
  display: flex;
  justify-content: center;
  height: 120px;
  margin: 0 17.3333%;
}
.titleLine_line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 2px solid #aaa;
}
.titleLine_text {
  position: relative;
  z-index: 1;
  align-self: center;
  padding: 0 5px;
  background-color: var(--pageColor);
  font-weight: normal;
  font-size: 22px;
}

/* 列表 */
.list_item {
  padding: 3% 2.5%;
}
.list_item_img {
  margin-right: 5.1873%;
  align-self: center;
  flex-shrink: 0;
}
.list_item_img div {
  width: 18vw;
  height: 18vw;
  background-color: red;
}
.list_item_text_p {
  margin-bottom: 6px;
  font-size: 12px;
}
.list_margin {
  margin-right: .5em;
}
.list_more {
  width: 100%;
  padding: 1em 0;
  margin-top: 10px;
  background-color: #fff;
  font-size: 16px;
  border: 0;
}
