/* 公司列表 */
.company_info {
  color: var(--fontColorLight);
}
.company_name {
  margin-right: .4em;
  font-size: 18px;
}
.company_comment,
.company_post {
  font-size: 14px;
}
.company_comment span,
.company_post span {
  color: var(--rczpColor);
}
.filter_content_list_item.is-active {
  color: var(--rczpColor);
}
/*.list_item_text_p a {
  color: #333;
  text-decoration: none;
}*/
.list_link {
  display: block;
}
