/* 公司列表 */
.company_info {
  font-size: .26rem;
}
/*.company_comment,
.company_post {
  font-size: 14px;
}*/
.list_item_text_p_item span {
  margin-right: .2em;
  color: var(--rczpColor);
}
.filter_content_list_item.is-active {
  color: var(--rczpColor);
}
/*.list_item_text_p a {
  color: #333;
  text-decoration: none;
}*/
.list_link {
  display: block;
}
