/* 公司列表 */
.company_info {
  color: #888;
}
.company_name {
  font-size: 18px;
  color: #000;
}
.company_comment,
.company_post {
  font-size: 14px;
}
.company_comment a,
.company_post a {
  color: var(--rczpColor);
  text-decoration: none;
}
