.base_content_em {
  font-size: 16px;
  line-height: 2.6;
}
.base_content_para-tag {
  clear: both;
}
.tagListLabel {
  flex-shrink: 0;
  font-size: 14px;
}
.base_content_para-tag {
  display: flex;
  align-items: center;
  line-height: 28px;
  overflow: hidden;
}
@media screen and (max-width: 369px) {
  .base_content_r {
    clear: both;
    width: 100%;
    transform: translateY(100%);
  }
  .base_content_para-tag {
    transform: translateY(-100%);
  }
  .base_content_label {
    float: right;
    font-size: 16px;
    line-height: 28px;
  }
  .base_content_em {
    float: left;
    line-height: 28px;
  }
}
.dtDeliver {
  width: 100%;
  padding: 1em 0;
  border: 0;
  background: var(--rczpColor);
  color: #fff;
}
