
/*人才招聘触屏版-详情页*/

/*详情页-职位名称及待遇*/
.detail_position {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 3.6%;
}
/*职位名称及待遇-左*/
.detail_position_left {
  font-size: 20px;
}
.detail_position_left li {
  margin-top: 2px;
}
/*发布信息*/
.detail_position_left_two,
.detail_position_left_one {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}
/*发布时间与地点*/
.detail_position_left_one li {
  display: flex;
  font-size: 12px;
  margin-right: 1em;
  color: #999;
}
/*发布时间与地点的图标*/
.detail_position_left_one_time {
  display: inline-block;
  width: 1em;
  height: 1em;
  align-self: center;
  margin-right: 2px;
  background-color: red;
}
.detail_position_left_one_place {
  display: inline-block;
  width: 1em;
  height: 1em;
  align-self: center;
  margin-right: 2px;
  background-color: red;
}
/*应聘要求*/
.detail_position_left_two li {
  font-size: 12px;
  color: #666;
  margin-right: 0.5em;
}
/*公司待遇*/
.detail_position_left_bottom {
  display: flex;
}
#detail_position_left_three {
  color: #777;
  font-size: 12px;
  flex-shrink: 0;
  border: 0;
  align-self: center;
}
/*职位名称及待遇-右*/
.detail_position_right {
  font-size: 13px;
  flex-shrink: 0;
  color: #666;
}
.detail_position_right li {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
.detail_position_right_one {
  display: inline-block;
  align-self: center;
  margin-right: 2px;
  width: 1em;
  height: 1em;
  background-color: red;
}
.detail_position_right_two {
  font-size: 14px;
  color: #ec6941;
}
/*公司简介*/
.detail_company {
  background-color: #fff;
  display: flex;
  padding: 5px 3.6%; 
  margin-top: 20px;
  font-size: 12px;
  color: #666;
  justify-content: space-between;
}

.detail_company_left {
 display: flex;
}
.detail_company_left_right {
  margin-left: 6px;
}
#detail_company_left_right {
  font-size: 14px;
}
.detail_company_left_right li {
  margin-top: 2px;
}
.detail_company_left_right_color {
  color: #333;
}
.detail_company_right {
 margin-right: 1vw;  
}
.detail_company_left,
.detail_company_right {
  display: flex;
  align-items: center;
}
.detail_company_right_one {
  display: inline-block; 
  width: 2em;
  height: 2em;
  background-color: red;
}
/*职位描述*/
.detail_introduce {
  padding: 10px 3.6%;
  font-size: 14px;
}
.detail_introduce_one {
  border-left: 0.3em solid var(--rczpColor); 
  padding-left: 0.5em;
  color: #333
}
/*职位介绍内容*/
.detail_Major_presentations {
  background-color: #fff;
  padding: 5px 3.6%;
  font-size: 12px;
  
}
.detail_Major_presentations_one li,
.detail_Major_presentations_two li {
   margin-top: 0.2em;
   color: #666;
}
/*投递简历*/
.detail_submit {
  margin-top: 20px;
  background-color: var(--rczpColor);
  padding: 16px 0;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
}

