/*职位搜索公用底部样式开始*/
.searchFooter {
  display: flex;
  padding: 28px 4.2667%;
  border-top: 1px solid #ddddde;
  background: #fff;
  justify-content: space-around;
}
.searchFooter_p {
  display: flex;
  align-items: center;
}
/*.search_footer_p_span {
  color: var(--rczpColor);
}*/
.searchFooter_p_img {
  display: inline-block;
  width: 4.5333vw;
  height: 4.5333vw;
  margin-right: 5px;
  background: red;
}
.searchFooter_p_text {
  display: inline-block;
  width: 40px;
  font-size: 20px;
  color: #7b8186;
}
/*职位搜索公用底部样式结束*/

