/* 分类 */
.postCate {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background: #fff;
}
.postCate_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  padding: 20px 0 0;
}
.postCate_item_icon {
  display: inline-block;
  width: 7.2vw;
  height: 7.2vw;
  background: mediumspringgreen;
}
.postCate_item_text {
  font-size: 16px;
  line-height: 3;
}

/* 职位列表 */
.post_info {
  font-size: 16px;
}
.post_name {
  font-size: 18px;
  color: var(--rczpColor);
}
.post_salary {
  color: #ea572b;
}