* {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  background: #e7e8ed;
}
ul {
  padding: 0;
}
/*头部样式开始*/
.header-box {
  width: 100%;
  background: #3d9ccc;
}
.header-ul {
  display: flex;
  justify-content: space-between;
}
.header-ul li:nth-child(1) {
  flex-grow: 1;
}
.header-ul li:nth-child(2) {
  flex-grow: 2;
}
.header-ul li:nth-child(3) {
  flex-grow: 1;
}
.header-li {
  display: flex;
  justify-content: center;
}
.header-span,.header-logo-span {
  display: block;
  height: 9vh;
}
.header-logo-span {
  width: 20rem;
}
.header-return-span {
  width: 6rem;
}
.header-serch-span {
  width: 10rem;
}
.header-return,.header-logo,.header-serch {
  display: inline-block;
  height: 5vh;
  margin-top: 2vh;
  background: red;
}
.header-return {
  width: 5rem;
}
.header-logo {
  width: 20rem;
}
.header-serch {
  width: 5rem;
  margin-left: 1rem;
}
/*头部样式结束*/

/*分类功能样式开始*/
.content-box {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #fff;
}
.content-box ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 80%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.content-box li {
  display: flex;
  width: 18vw;
  height: 12vh;
  margin: 1rem 0; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-box span{
  display: inline-block;
  width: 80%;
  height: 8vh;
  background: deepskyblue;
}
.content-box label {
  margin-top: 1rem;
}
.content-hr {
    margin-top: 4rem;
    height: 10px;
    background: #3d9ccc;
}
/*分类功能样式结束*/

/*列表样式开始*/
.list-box {
  margin-top:1rem;
}
.list-title {
    height: 4vh;
    line-height: 4vh;
    font-size: 1.5rem;
    text-align: center;
    color: #3d9ccc;
}
.list-ul {
  width: 90%;
  margin: 0 auto;
}
.list-li {
  display: flex;
  margin: 2rem 0;
  background: #fff;
}
.list-position-span {
  display: inline-block;
  width: 15vw;
  height: 10vh;
  padding: 2rem 3rem;
}
/*.list-position-img {
 
}*/
.list-position-ul {
  padding: 2rem 3rem;
}
.list-position-li {
  margin: 1rem 1rem;
}
.list-gsimform-li {
  margin-left: 1rem;
}
.list-position-name,.list-position-mess {
  padding: 0.5em;
}
.list-position-name {
  font-size: 2.5rem;
  color: #3d9ccc;
}
.list-position-mess,.list-position-order  {
  font-size: 1.5rem;
  color: #888; 
}
.list-position-salary {
  font-size: 2rem;
  margin-right: 2rem;
  color: #f08767;
}
.list-gsimform-li label {
  font-size: 1.4rem;
}
.list-more-li {
  text-align: center;
  font-size: 1.5rem;
  background: #fff;
}
.list-more-li span{
  display: inline-block;
  padding: 1rem;
}
/*列表样式结束*/