/*人才招聘搜索类型样式*/
.header_srch_label {
  position: relative;
}
.header_srch_select {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border: 1px solid var(--borderColorLight);
  border-bottom: 0;
  border-radius: 5px;
  border-top-right-radius: 0;
  background: #fff;
  overflow: hidden;
  color: var(--fontColorLight);
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: transform .2s ease-in-out;
}
.header_srch_select.is-show {
  transform: scaleY(1);
}
.header_srch_select_item {
  padding: .4em 0;
  text-align: center;
  border-bottom: 1px solid var(--borderColorLight);
}
.list_item_text_p {
  color: #333;
}
.post_name {
  font-size: .26rem;
  color: var(--rczpColor);
}
/*.post_info-color {
  color: #333;
}*/
.post_salary {
  color: var(--HighlightColorOrange);
  margin-right: .8em;
}
/** 置顶 **/
.scrollTop {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 60px;
  width: 14.1333vw;
  height: 60px;
  height: 14.1333vw;
  line-height: 60px;
  line-height: 14.1333vw;
  text-align: center;
  border: 0;
  border-radius: 100%;
  background: #727275;
  color: #fff;
}
.scrollTop .fa {
  display: block;
  font-size: 25px;
}
.scrollTop span {
  display: block;
  margin-top: -15px;
}
