/*人才招聘搜索类型样式*/
.header_srch_label {
  position: relative;
}
.header_srch_select {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: -1;
  transform: translateY(-100%) scale(1, 0);
  transition: transform .5s ease-in-out;
  background-color: #fff;
  color: var(--fontColorLight);
}
.header_srch_select.is-show {
  transform: translateY(0) scale(1, 1);
}
.header_srch_select_item {
  padding: .4em 0;
  text-align: center;
  border-bottom: 1px solid var(--borderColorLight);
}
.list_item_text_p {
  color: var(--fontColorLight);
  font-size: 12px;
}
.post_info {
  font-size: 16px;
}
.post_name {
  margin-right: .8em;
  color: var(--rczpColor);
  font-size: 18px;
}
.post_info-color {
  color: #333;
}
.post_salary {
  color: var(--HighlightColorOrange);
  margin-right: .8em;
}
/** 置顶 **/
.scrollTop {
  position: fixed;
  bottom: 10%;
  right: 20px;
  width: 90px;
  width: 14.1333vw;
  height: 90px;
  height: 14.1333vw;
  line-height: 90px;
  line-height: 14.1333vw;
  text-align: center;
  border: 0;
  border-radius: 100px;
  background: #727275;
}
.scrollTop .fa {
  display: block;
  font-size: 25px;
}
.scrollTop span {
  display: block;
  margin-top: -15px;
}
