/* 职位分类样式*/

/*职位分类标题样式开始*/
.position-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 22.13%;
  border: 1px solid #a9a9a9;  
}
.position-title-text {
  margin: 0 0.67%;
  padding: 44px 0;
  font-size: 20px;
  color: #656565;
}
/*职位分类标题样式结束*/

/*职位分类列表样式结束*/
.position-classify-list {
  background: #fff;
}
.position-classify-header {
  display:flex;
  align-items: center;
  padding-top: 28px;
  padding-left: 3.73%;
}
.position-classify-icon {
  display: inline-block;
  width: 4.53vw;
  height: 4.53vw;
  margin-right: 1.33%;
  background: red;
}
.position-classify-name,
.position-classify-ul li{
  color: #9c9c9c;
}
.position-classify-name {
  font-size: 16px;
}
.position-classify {
  border-bottom: 2px solid #e3e3e3;
}
.position-classify-ul {
  display: flex;
  padding: 0 8.34%;
  justify-content: space-between;
  flex-flow: row wrap;
}
.position-classify-ul li {
  display: inline-block;
  text-align: center;
  width: 27.2%;
  margin: 10px 2.33%; 
  font-size: 16px;
}
.position-classify-bottom {
  height: 22px;
  margin-bottom: 142px;
}
/*职位分类列表样式结束*/