header {
  background: var(--zckjColor);
}

/**
 * 侧边
 */
.aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  max-width: 750px;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform .2s ease-in;
}
.aside.is-show {
  transform: scaleX(1);
}
.aside_wrap {
  display: flex;
  flex-direction: column;
  /*height: 100px;*/
  height: 100vh;
  margin-left: 20%;
  margin-left: 20vw;
  background: #fff;
  box-shadow: -1px 0 5px #aaa;
  overflow: hidden;
}
/* 侧边总标题 */
.aside_title {
  position: relative;
  height: 40px;
  height: 13.3333vw;
  max-height: 100px;
  font-weight: normal;
  text-align: center;
  line-height: 40px;
  line-height: 13.3333vw;
}
@media screen and (min-width: 750px) {
  .aside_title {
    line-height: 100px;
  }
}
.aside_return {
  position: absolute;
  top: 50%;
  left: 0;
  padding: .5em;
  margin-top: -1em;
}
/* 侧边分区 */
.aside_sect_title {
  padding: .4em 15px;
  background: #eceef0;
  color: var(--fontColorLight);
  font-weight: normal;
  font-size: 14px;
}
/* 侧边列表项 */
.aside_item,
.aside_fold_item {
  padding: .8em 15px;
  font-size: 16px;
}
/* 侧边默认不展开列表 */
.aside_fold {
  height: 0;
  margin: 0 -5px;
  background: #ececec;
  box-shadow: 0 0 5px #d3d3d3 inset;
  overflow: hidden;
  transition: height .3s ease-in-out;
}
/* 侧边主内容区，滚动区 */
.aside_contentWrap {
  flex: 1;
  position: relative;
  overflow: auto;
}
/* 字母表 */
.alphabet {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}
.alphabet_item {
  width: 20%;
  flex-basis: 20%;
  flex-shrink: 0;
  font-size: 16px;
  padding: .6em 0;
  text-align: center;
}
