.tagList-zckj {
  padding: 5px 0;
}

.ftCtrl_item-link {
  color: var(--zckjColor);
}
.ftCtrl_item_btn {
  background-color: var(--zckjColor);
}

/*.baseBrief {
   background: #fff;
}
.baseBrief_item {
  font-size: 14px;
}
.baseBrief_item-title {
  font-size: 18px;
  font-weight: bold;
}*/

/*.dtContent {
  margin: 20px 0;
  background: #fff;
}
.dtContent_item-title {
  border-bottom: 2px solid var(--borderColorLight);
}
.dtContent_item {
  padding: 15px 3.7333%;
}*/