.page {
  position: relative;
}
/**
 * 推荐
 */
.hot {
  padding: 0 .2rem;
  background-color: #fff;
  overflow: hidden;
}
.hot .titleA {
  margin: .6em 0;
}
/** 列表 **/
.hot_list {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-between;*/
  font-size: .18rem;
  overflow: hidden;
}
.hot_list_item {
  float: left;
  position: relative;
  width: 48%;
  border: 1px solid var(--borderColorLight);
  border-radius: 5px;
  margin-bottom: 1em;
  background-color: var(--borderColorLight);
  overflow: hidden;
  color: var(--fontColorLight);
}
.hot_list_item:nth-child(odd) {
  margin-right: 4%;
}
.hot_list_item_a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #333;
}
.hot_list_item_logo {
  position: relative;
  width: 100%;
  height: 90px;/*uc兼容*/
  height: 26.6667vw;
  max-height: 200px;
}
.hot_list_item_logo_img {
  width: 100%;
  height: 100%;
}
.hot_list_item_logo_cert {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1.2rem .6rem .1rem;
  background-color: #f58f3e;
  transform: translateX(50%) translateY(-50%) rotate(45deg);
  color: #fff;
}
.hot_list_item_title {
  font-weight: normal;
  font-size: .26rem;
  line-height: 2;
}
.hot_list_item_address {
  padding: 0 .6em;
  font-style: normal;
  text-align: center;
}
.hot_list_item_apply {
  padding: .5em 1em;
  border: 0;
  border-radius: 5px;
  margin: .6em 0;
  background: var(--zckjColor);
  color: #fff;
}
/** 更多 **/
.zckjMore {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  font-size: .18rem;
}
.hot_more_link {
  display: block;
  width: 50%;
  padding: .6em 0;
  border-radius: 50px;
  background: var(--zckjColor);
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.hot_more_link .fa {
  margin-left: 1em;
}

.header_sect-aside_text::after {
  content: "";
  display: inline-block;
  width: 0;
  margin-left: .4em;
  border-width: 7px 0 7px 7px;
  border-style: solid;
  border-color: transparent;
  border-left-color: #fff;
}
