.header-logo {
  background-image: url("../img/zckj_logo.png");
}
/*.list_item_img img {
  width: 60px;
  width: 30vw;
  height: 60px;
  height: 30vw;
}*/
/* 列表样式 */
.list_item_text_p,
.list_item_text_btn {
  font-size: .18rem;
}
.list_item-border {
  padding: 5% 2.5%;
  margin-bottom: 0;
  border: 0;
  border-bottom: 1px dotted var(--borderColorLight);
}
.list_item_text_p-title {
  font-size: .26rem;
}
.list_item_btn { /* 考虑合并样式 */
  padding: 6px 8.4667%;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: var(--zckjColor);
  cursor: pointer;
}
.list_item_a {
  color: #333;
}
.cate {
  width: 0;
  height: 0;
}
.filter_content_list_item.is-active {
  color: #3d9ccc;
}
.attention-top {
  margin-top: 6em;
}
.attention {
  line-height: 1.8;
  text-align: center;
  font-size: 18px;
}
.list_item_icon img {
  width: 20px;
  width: 10vw;
  height: 20px;
  height: 10vw;
}
@media screen and (min-width: 550px) {
  .list_item_icon img {
    width: 60px;
    height: 60px;
  }
}
