/* 搜索框 */
.srch-join .srch_btn {
  background: var(--cysjColor);
}

/* 功能 */
.grid-func .grid_item_icon {
  background: #f1f1f1;
}
/* 分类 */
.grid-cate .grid_item_icon {
  border-radius: 0;
  background: transparent;
}

/* 标题 */
.titleA {
  border-color: var(--cysjColor);
  margin-left: .5em;
}

/* 赏金大厅 */
.demand_title {
  margin-bottom: 10px;
  font-size: 16px;
  color: #2ecc71;
}
.demand_text {
  color: var(--fontColorLight);
}
.grid_item-big {
  width: 26%;
  flex-basis: 26%;
}
.base_title_text a,
.list_item_link {
  color: #333;
  text-decoration: none;
}
