.filter_content_list_item {
  display: flex;
  height: 54px;
  padding-left: 7.4667%;
  border-bottom: 1px solid var(--borderColorLight);
  background-color: #fff;
  line-height: 54px;
  justify-content: space-between;
}
.filter_content_list_item .fa {
  font-size: 20px;
}
.hotwrap-nomar { /*热门推荐样式*/
  margin-top: 0;
}