.listTabs {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background: #fff;
}
.listTab {
  padding: .5em .8em;
  border-radius: 50px;
  background: #666;
  color: var(--fontColorLight);
}
.is-active {
  color: #fff;
  background: #46a0ce;
}