.title {
  padding: .6em 2em;
  margin: 1em 0;
  font-size: .24rem;
  background: #fff;
  line-height: 1;
}
.title::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: .24rem;
  background: #f00;
  margin-right: .5em;
  vertical-align: top;
}

