.contact {
  background-color: #fff;
}
.contactText {
  padding: .2rem;
  font-size: .22rem;
}
.contactList {
  padding: 0 .2rem .2rem;
  font-size: .22rem;
}
.contactList_item {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 3;
}
