.profile {
  padding: 30px 20px 10px;
  background: red;
  font-size: 14px;
  color: #fff;
}
.profile > h1 {
  font-size: 20px;
}
.profile > img { /* 兼容uc */
  width: 100px;
  height: 100px;
}

.basics {
  background: #fff;
  font-size: 14px;
}
.basics > li {
  display: flex;
  align-items: center;
}
.basics_content {
  flex-basis: 100%;
  width: 100%;
}
.basics li::after {
  content: "";
  display: block;
  width: 0;
  height: 50px;
  border-right: 1px solid var(--borderColorLight);
}
.basics li:last-child::after {
  border: 0;
}
.basics_num {
  height: 24px;
  line-height: 24px;
  color: red;
}
.basics img { /* 兼容uc */
  width: 50px;
  height: 50px;
}

.modulesWrap {
  margin-top: 28px;
  padding: 0 10px;
  background: #fff;
}
.modules {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.module {
  flex-basis: 25%;
  width: 25%;
}
.module > span {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}
.module > span > img {
  width: 50px;
  width: 14vw;
  height: 50px;
  height: 14vw;
}

.ulinkWrap {
  margin-top: 20px;
  background: #fff;
}
