/* 个人资料 */
.profile {
  position: relative;
  padding: 1em .2rem;
  background: url("routes/Home/img/backlqt.png") center center no-repeat;
  background-size: 120%;
  font-size: .2rem;
  color: #fff;
  line-height: 2;
  text-align: center;
}
.profile_figure > img {
  width: 1.8rem;
  height: 1.8rem;
  border: .3em solid #fff;
  border-radius: 50%;
}
.profile_title {
  margin: .5em 0;
  font-weight: bold;
  color: #fff;
}

.profile_para {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2;
}
.profile_para-center {
  text-align: center;
}
.profile_name,
.profile_tel {
  margin-right: 1em;
}
.profile_link {
  display: block;
  color: #fff;
}
.profile .fa-edit {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em .3em .3em 1em;
}

/* 基本功能 */
.basics {
  display: flex;
  align-items: flex-start;
  background: #fff;
  font-size: .18rem;
}
.basics_item {
  display: flex;
  align-items: center;
  width: 33.3333%;
  text-align: center;
}
.basics li:first-child::after,
.basics li:last-child::before {
  content: "";
  display: block;
  width: 0;
  height: 3em;
  border-right: 1px solid var(--borderColorLight);
}
.basics_item > a {
  flex: 1;
  display: block;
  width: 100%;
  padding: .4em 0;
  text-decoration: none;
}
.basics .fa {
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  background: red;
  font-size: .4rem;
  color: #fff;
  line-height: .6rem;
  text-align: center;
}
.basic_text {
  line-height: 2;
}
.basics_num {
  color: red;
}
/* 子模块 */
.modules {
  margin: 1em 0;
  padding-bottom: 1em;
  background: #fff;
  overflow: hidden;
  font-size: .18rem;
}
.module {
  float: left;
  width: 25%;
  margin-top: 1em;
  text-decoration: none;
}
.module_icon {
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.module_text {
  text-align: center;
  line-height: 2;
}
.rczp {
  background-color: #f7ba5b;
  background-image: url("routes/Home/img/rczp.png");
}
.zc {
  background-color: #6ce;
  background-image: url("routes/Home/img/zc.png");
}
.cysj {
  background-color: #ea6644;
  background-image: url("routes/Home/img/rczp.png");
}
.srdz {
  background-color: #7788f2;
  background-image: url("routes/Home/img/rczp.png");
}
.cygc {
  background-color: #2bb2a3;
  background-image: url("routes/Home/img/cygc.png");
}
.kjfw {
  background-color: #f82;
  background-image: url("routes/Home/img/rczp.png");
}
.zb {
  background-color: #157cc7;
  background-image: url("routes/Home/img/zb.png");
}
.cqbh {
  background-color: #d04f6e;
  background-image: url("routes/Home/img/cqbh.png");
}
