/*订单信息*/
.trademark_name {
  margin: 0;
  padding: 1em 2em;
  font-size: .24rem;
  color: #0f0f0f;
  background-color: #fff;
}
.trademark_name-cont {
  padding-left: .8em;
}
.sbcs_order_detl {
  padding-top: 1em;
  font-size: .22rem;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #dedede;
}
.sbcs_order_detl li {
  padding-bottom: 1em;
}
.sbcs_order_detl-name {
  display: inline-block;
  width: 23.6%;
  padding-right: 1em;
  text-align: right;
}

.sbcs_contact,
.sbcs_srzt,
.sbcs_note {
  width: 100%;
  margin-top: 1em;
  padding: 1em 2em;
  font-size: .22rem;
  background-color: #fff;
}
.sbcs_contact_cont,
.sbcs_srzt_cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sbcs_contact_cont-left,
.sbcs_srzt_cont-left {
  width: 90%;
}
.sbcs_contact_info {
  padding-left: 1em;
}
.sbcs_contact_addr,
.sbcs_srzt_cont {
  width: 100%;
  margin-top: .8em;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.sbcs_addr-map .fa, 
.sbcs_srzt-map .fa {
  padding-top: .2em;
  font-size: .4rem;
  color: #9d9d9d;
}
.sbcs_addr-info,
.sbcs_srzt-info {
  width: 80%;
  font-size: .22rem;
}
.sbcs_srzt-info p {
  color: #9d9d9d;
}
.sbcs_srzt-info .sbcs_srzt-name,
.sbcs_srzt-info .sbcs_srzt-idCard {
  padding-left: .6em;
  color: #2b2b2b;
}
.sbcs_addr-change .fa,
.sbcs_srzt-change .fa {
  font-size: .6rem;
  color: #5b5b5b;
  cursor: pointer;
}
.sbcs_note {
  display: flex;
  justify-content: space-around;
}
.sbcs_note-left {
  width: 18%;
}
.sbcs_note-left .fa {
  margin: .4em;
  font-size: .4rem;
  color: #c1c1c1;
}
.sbcs_note-cont {
  width: 80%;
  border: 0;
}
.risk_warning {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 8em;
  padding-bottom: 2em;
  background-color: #f2f2f2;
}
.risk_warning-cont {
  padding: 1em 2em 0;
  font-size: .22rem;
  background-color: #fff;
}
.risk_warning-detl {
  display: none;
  font-size: .22rem;
  padding-bottom: .8em;
}
.is-show {
  display: block;
}
.risk_warning-cont p {
  line-height: .34rem;
  font-size: .20rem;
  color: #888;
}
.risk_warning-up {
  display: block;
  width: 18%;
  margin: 1em auto 0;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #e7e7e7;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.risk_warning-up .fa {
  color: #d4d4d4;
}
.sbcs_order_footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  max-width: 750px;
  padding: .6em 0;
  color: #fff;
  background-color: #262523;
}
.sbcs_order_footer p {
  padding-top: .6em;
  font-size: .22rem;
}
.sbcs_order-btn {
  width: 27%;
  padding: .6em;
  font-size: .22rem;
  color: #fff;
  background-color: #f64914;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

/*支付页*/
.remind {
  padding: .5em 1em;
  font-size: .2rem;
  background: #484f55;
  color: #fff;
}
.fa-exclamation-triangle {
  margin-right: .5em;
  font-size: .3rem;
  color: #eba101;
}
.payment {
  margin-top: .5rem;
  padding: 0 1em;
  background: #fff;
  font-size: .24rem;
}
.paymentList {
  padding: 1em 0 1em .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--borderColorLight);
  background-position: center  left;
  background-repeat: no-repeat;
  background-size: .5rem;
}
.paymentList-weixin {
  background-image: url("routes/Sbcs/img/weixin.png");
}
.paymentList-zhifubao {
  background-image: url("routes/Sbcs/img/zhifubao.png");
}
.paymentList-card {
  background-image: url("routes/Sbcs/img/card.png");
}
.paymentList_size {
  margin-top: .5em;
  font-size: .18rem;
  color: var(--fontColorLight);
}
.fa-check {
  padding: .5em;
  border: 1px solid var(--borderColorLight);
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
}
.paymentList .is-show {
  background: var(--sbcsColor);
}
.payBtn {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: .5rem;
  padding: 1em 0;
  border: 0;
  border-radius: 10px;
  font-size: .2rem;
  background: var(--sbcsColor);
  color: #fff;
}
