.itemBox {
  margin: 1em 0;
  background-color: #fff;
}
.itemRow {
  padding: .8em 0;
}
.itemRow_name {
  display: inline-block;
  width: 6em;
  text-align: right;
}
.itemRow_text {
  display: inline-block;
  padding-left: 0.5em;
}
.count {
  width: auto;
}
.countIput {
  width: 2em;
}
.countBtn {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  border: 1px solid #999;
  vertical-align: sub;
}