/* 临时颜色 */
.grid_item_icon {
  background: #ccc;
}
.srch_btn {
  background-color: var(--zbColor);
}
.header-logo {
  background-image: url("../img/zb_logo.png");
}
/*.img {
 display: block;
 width: 100%;
 height: 100px;
 height: 32.6667vw;
 max-height: 245px;
}*/
.grid_item_icon {
  font-size: 18px;
}
