/*
 * 分类栏
 */
.zcCate {
  padding: 14px 0;
  background-color: #fff;
  border-bottom: 1px solid var(--borderColorLight);
}

.zcCate_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 8%;
}
.zcCate .zcCate_list {
  margin: 2% 0 4%;
}
.zcCate .zcCate_list:last-child {
  margin: 0;
}
.zcCate_list_item {
  flex-basis: 20vw;
  text-align: center;
}
.zcCate_list_item_icon {
  display: inline-block;
  width: 10vw;
  max-width: 75px;
  height: 10vw;
  max-height: 75px;
  line-height: 10vw;
  border-radius: 50%;
}
.zcCate_list_item_icon .fa {
  vertical-align: middle;
  font-size: 20px;
  color: #fff;
}
.zcCate_list_item_icon-tech {
  background-color: #c6cad2;
}
.zcCate_list_item_icon-ind {
  background-color: #fc71a3;
}
.zcCate_list_item_icon-agri {
  background-color: #75c822;
}
.zcCate_list_item_icon-appl {
  background-color: #efc028;
}
.zcCate_list_item_icon-idea {
  background-color: #f66464;
}
.zcCate_list_item_icon-ent {
  background-color: #64b5f6;
}
.zcCate_list_item_icon-publ {
  background-color: #f8a167;
}
.zcCate_list_item_icon-all {
  background-color: #b1e14a;
}
.zcCate_list_item_text {
  font-size: 14px;
  text-align: center;
}

/**
 * 推荐
 */
.hot {
  margin-top: 20px;
  background-color: #fff;
}
