/**列表**/
.list {
  background-color: #fff;
}
/**合并要删掉**/
.zbFilter li {
  width: 100vw;
  border-top: 1px solid var(--borderColorLight);
  background-color: #fff;
  padding: 1em;
}
.zbFilter li .fa {
  margin-right: 1em;
  font-size: 16px;
  color: orangered;
}
.filter_content_list_item.is-active {
  color: var(--zbColor);
}
.filter_content_list_item_icon .fa {
  margin-right: .6em;
}
.hostlist_item_info_item {
  width: 28%;
}
.hostlist_item_info_item-big {
  width: 44%;
}
.hostlist_item_a {
  display: block;
  color: #333;
}
