.list {
  margin: 1em 0;
  padding: 0 .2rem;
  background: #fff;
}

.list_item {
  display: flex;
  padding: .5em 0 1em;
  border: 0;
  border-bottom: 1px solid var(--borderColorLight);
}
.list_item:last-child {
  border: 0;
}
.list_item_img img {
  width: 100%;
}
.list_item_text {
  flex: 1;
}
.list_item_title {
  font-size: .24rem;
}
.list_item_title_small {
  margin-left: .6em;
  font-weight: normal;
  font-size: .16rem;
}
.list_item_para {
  line-height: 2;
}
.list_item_para:last-child {
  display: flex;
  justify-content: space-between;
}
.multiple_item {
  margin-right: 1em;
  /*color: red;*/
}

/* comment */
.list_item_unfold {
  float: right;
  cursor: pointer;
}
.list_item_content {
  margin-top: .5em;
  overflow: hidden;
  text-indent: 2em;
  word-break: break-all;
}
.list_item_para-right {
  text-align: right;
}
