.form {
  padding: 1em 0;
  background: #fff;
  /*text-align: center;*/
}

.formGroup {
  padding: 0 .2rem;
  margin: 1.2em 0;
  font-size: .18rem;
}
.formGroup_label {
  display: block;
  padding-left: .6em;
  border-left: .2em solid #f00;
  margin-bottom: .5em;
  text-align: left;
}
.formGroup input,
.formGroup select,
.formGroup textarea {
  width: 100%;
  padding: .6em .8em;
  border: 0;
  border-radius: 3px;
  background: #eee;
}
.formGroup textarea {
  height: 5.5em;
}

.formGroupCheckbox {
  display: flex;
  width: .25rem;
  height: .25rem;
  border: 1px solid #f00;
}
input:checked + .formGroupCheckbox {
  background: #f00;
}
.formGroupCheckbox .fa {
  display: none;
  margin: auto;
  color: #fff;
}
input:checked + .formGroupCheckbox .fa {
  display: block;
}

/*.form_tb {
  background: none;
}
.formGroup_tb {
  display: flex;
  padding: 0 .2rem;
  margin: 1.2em 0;
  font-size: .18rem;
  background-color: #fff;
}
.formGroup_tb_area {
  padding: 0 .2rem;
  margin: 1.2em 0;
  font-size: .18rem;
  background-color: #fff;
}
.formGroup_tb input,
.formGroup_tb_area textarea {
  width: 100%;
  padding: .6em .8em;
  border: 0;
  border-radius: 3px;
  background: #fff;
}
.formGroup_label_tb {
  width: 10%;
  border-right: 1px solid #ccc;
  border-left: none;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
  margin: .1rem 0
}
.formGroup_label_area {
  display: block;
  border-left: none;
  text-align: left;
  margin-bottom: 0;
  padding-left: .8em;
  margin: .1rem 0
}*/
