.ListItemDetail {
  background-color: #f9f7de;
}
.ListItemDetail_item {
  text-align: center;
  padding: 1em 0;
}
.ListItemDetail_item_btn {
  padding: 10px 20.0667%;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
}
.DetailGroup_item {
  margin-left: 1.4em;
  line-height: 2.4em;
  border-bottom: 2px solid #fff;
}
.item_color {
  color: #666;
}