.header_chooseBox {
  display: flex;
  align-items: center;
  font-size: .3rem;
}
.header_chooseBox .fa {
  margin-right: .5em;
  padding: .1rem;
  color: var(--myjColor);
  cursor: pointer;
}
.header_sect-menu {
  padding: .1rem 0;
  cursor: pointer;
}
.purchase {
  padding: .2rem;
  background: #fff;
  font-size: .2rem;
  & .purchase_msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .purchase_msg_text {
      width: 80%;
    }
    & .purchase_msg_share {
      width: 15%;
      border-left: 1px solid var(--borderColorLight);
      text-align: center;
      color: var(--myjColor);
      cursor: pointer;
      & .fa {
        display: block;
        font-size: .35rem;
        margin-bottom: .2em;
      }
    }
  }
  & .purchase_price {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
    align-items: center;
    & .purchase_price_now {
      color: var(--myjColor);
      font-size: .4rem;
      & span {
        font-size: .3rem;
      }
    }
    & .purchase_price_counter {
      margin-left: 1em;
      color: var(--fontColorLight);
      font-size: .18rem;
    }
  }
}
.store,
.good {
  margin-top: .1rem;
  padding: 0 .2rem;
  background: #fff;
  & .store_shangjia,
  & .good_shangpin {
    border-bottom: 1px solid var(--borderColorLight);
    line-height: 3;
    font-size: .24rem;
    color: var(--fontColorLight);
  }
}
.store {
  & .store_msg {
    display: flex;
    justify-content: space-between;
    padding: .2rem 0;
    font-size: .2rem;
    & div {
      width: 80%;
      flex-grow: 0;
    }
    & h3 {
      font-weight: normal;
      line-height: 2;
    }
    & p {
      color: var(--fontColorLight);
    }
    & .store_msg_adr {
      display: flex;
      align-items: center;
      & .fa-map-marker {
        margin-right: .5em;
      }
    }
  }
}
.userInput {
  padding: .2rem 0;
}
.userInput img {
  width: 100%;
}
.titleLine {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 90%;
  margin: 0 auto;
}
.titleLine_line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid #888;
}
.titleLine_text {
  position: relative;
  z-index: 1;
  line-height: 60px;
  color: #888;
  padding: 0 8px;
  background-color: var(--pageColor);
  font-weight: normal;
  font-size: 20px;
}
/*订单*/
.orderHeader {
  padding-bottom: .8em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--borderColorLight);
  & .orderHeader_msg {
    display: flex;
    width: 90%;
    & .orderHeader_msg_img {
      width: 1.5rem;
      height: 1.5rem;
      margin-top: -.6rem;
      border: 1px solid var(--borderColorLight);
      border-radius: 10%;
      & img {
        width: 100%;
        display: block;
        padding: 5px;
        border-radius: 10%;
      }
    }
    & .orderHeader_msg_text {
      margin-left: 1em;
      font-size: .2rem;
      width: 73%;
      & .orderHeader_msg_textCoin {
        font-size: .3rem;
        color: var(--myjColor);
      }
      & .orderHeader_msg_text_price {
        font-size: .18rem;
        color: var(--fontColorLight);
      }
    }
  }
  & .orderHeader_close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -.1rem;
    width: .4rem;
    height: .4rem;
    border: 3px solid var(--borderColorLight);
    border-radius: 50%;
    color: var(--fontColorLight);
    cursor: pointer;
  }
}
.order {
  position: absolute;
  bottom: 0;
  padding-top: 0;
  background: #fff;
  font-size: .22rem;
  width: 100%;
  max-width: 750px;
  & .orderPadding {
    padding: .2rem;
  }
  & .orderList {
    max-height: 3.5rem;
    overflow: auto;
  }
  & .orderList_item {
    padding: .1rem 0;
    border-bottom: 1px solid var(--borderColorLight);
    & .orderList_itemTitle {
      line-height: 3.5;
    }
    & .orderList_itemList {
      overflow: hidden;
    }
  }
  & .number {
    display: flex;
    justify-content: space-between;
    padding: .2rem 0;
    border-bottom: 1px solid var(--borderColorLight);
    & .number_choose {
      overflow: hidden;
      font-size: .22rem;
      & input {
        float: left;
        width: .8rem;
        padding: .5em 0;
        border: 1px solid var(--borderColorLight);
        text-align: center;
        background: #f5f5f5;
      }
      & label {
        float: left;
        padding: .5em 1em;
        border: 1px solid var(--borderColorLight);
        background: #f5f5f5;
        cursor: pointer;
      }
    }
  }
  & .orderBtnbox_btn {
    border: 0;
    width: 100%;
    margin-top: .3rem;
    padding: 1em 0;
    color: #fff;
    background: var(--myjColor);
    cursor: pointer;
  }
}
.orderList_itemList_item {
  float: left;
  padding: .5em 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  font-size: .18rem;
  background: #f5f5f5;
  cursor: pointer;
}
.order_backColor {
  display: none;
  position: relative;
  width: 100%;
  max-width: 750px;
  height: 100%;
  background: rgba(51,51,51,.3);
}
.is-block {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 4;
  max-width: 750px;
}
.is-click {
  background: var(--myjColor);
  color: #fff;
}
.sliderShare {
  z-index: 3;
}
/* 底栏 */
.myjFoot {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  max-width: 750px;
  font-size: .18rem;
  background: #fff;
  color: var(--fontColorLight);
}
.myjFoot_link {
  text-align: center;
  width: 14%;
  text-decoration: none;
  border-right: 1px solid var(--borderColorLight);
}
.myjFoot_link .fa {
  display: block;
  font-size: .24rem;
  margin-bottom: .2em;
}
.fa-star {
  color: var(--myjColor);
}
.fa-star-o {
  color: #333;
}
.myjFoot_btn {
  width: 29%;
  border: 0;
  padding: 1.3em 0;
  font-size: .22rem;
  color: #fff;
  cursor: pointer;
}
.myjFoot_btn-car {
  background: var(--myjColor);
}
.myjFoot_btn-shop {
  background: #fb7d29;
}
.is-color {
  color: var(--myjColor);
}
/* 提示 */
.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 5;
  width: 50%;
  max-width: 375px;
  padding: .2rem;
  border-radius: 5px;
  border: 1px solid var(--borderColorLight);
  background: rgba(0, 0, 0, .7);
  font-size: .2rem;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%);
  text-align: center;
  color: #fb7d29;
}
.modal .fa {
  display: block;
  margin-bottom: .3em;
  font-size: .36rem;
}
.modal.is-show {
  animation: show 3s forwards;
}
@keyframes show {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translate(-50%, -10%);
  }
  20% {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0%);
  }
  70% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
