/*介绍*/
.intro_list {
  display: flex;
  justify-content: space-between;
  padding: 0 .58rem;
  font-size: .26rem;
  background: #fff;
}
.intro_list_item {
  width: 40%;
  padding: .6em 0;
  text-align: center;
  cursor: pointer;
}
.intro_list_item.is-active {
  color: var(--myjColor);
  border-bottom: 3px solid var(--myjColor);
}
.intro_list_item:first-child {
  display: flex;
}
.intro_list_span {
  width: 100%;
}
/*商品列表*/
.result {
  padding: 0;
}
.result_item {
  display: none;
}
.result_item.is-show {
  display: block;
}
.myj_list {
  display: none;
  overflow: hidden;
}
.result_item .myj_list {
  display: block;
}
.myj_list.is-active {
  display: block;
}
.myj_list li:nth-child(2n) {
  margin-left: 1.2%;
}
.myj_list_item {
  float: left;
  width: 49.4%;
  margin-top: 1.2%;
  background: #fff;
  font-size: .18rem;
  & a {
    display: block;
    text-decoration: none;
    & .myj_list_item_img {
      width: 100%;
      height: 3.71rem;
      display: flex;
      background: #fff;
      overflow: hidden;
    }
    & img {
      width: 100%;
      align-self: center;
    }
    & p {
      padding: 0 .5em;
      height: .8rem;
      margin: 0 .5em;
      overflow: hidden;
    }
    & .myj_list_item_text {
      /*font-size: .18rem;*/
      display: flex;
      justify-content: space-between;
      padding: 0 1em;
      margin-bottom: 1em;
      color: var(--fontColorLight);
    }
    & span:first-child {
      font-size: .26rem;
      color: var(--myjqdColor);
    }
    & span:last-child {
      display: flex;
      align-items: flex-end;
    }
  }
}
/*商家列表*/
.hostlist {
  margin-top: .5em;
}
.hostlist_item {
  border-bottom: 2px solid var(--borderColorLight);
   & a {
    display: block;
    text-decoration: none;
    display: flex;
    & h2 {
      font-weight: normal;
    }
    & p {
      margin: 0;
    }
    & p:last-child {
      color: var(--fontColorLight);
    }
  }
}
.iconList_item {
  width: 1.1rem;
}
.Auth {
  background: url("../img/auth_1.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.noAuth {
  background: url("../img/auth_2.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.filter_content {
  top: 2.512rem;
}
