/* 横幅 */
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
}

/*.arrow-right {
  margin-left: .8em;
  border-bottom-color: #fff;
}*/
.content {
  padding: 2em .2rem;
  background: #fff;
  font-size: .18rem;
  text-align: center;
}
.content .circle {
  display: inline-block;
  height: 1.8em;
  width: 1.8em;
  border-radius: 50%;
  margin: 0 .2em;
  background-color: var(--kjfwColor);
  font-style: normal;
  color: #fff;
  line-height: 1.8em;
}
.content .circle:nth-child(2) {
  margin-left: -.6em;
}
.content strong {
  margin-left: .2em;
  font-size: .2rem;
  color: var(--kjfwColor);
  letter-spacing: .2em;
}
.content img {
  width: 100%;
  margin: 1em 0;
}
.content_btn {
  width: 100%;
  max-width: 550px;
  padding: .6em 0;
  border: .4em solid var(--kjfwColor);
  margin: 1em 0;
  background: #fff;
  font-size: .24rem;
  cursor: pointer;
}
.content_btn em {
  font-style: normal;
  color: var(--kjfwColor);
}

/** 弹窗 **/
.is-static body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
}
.dialog {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  width: 95%;
  max-width: 712.5px;
  background: #fff;
  transform: translate(-50%, -50%);
}
.dialog.is-show {
  display: block;
}
.dialog_ttl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-bottom: 1px solid var(--borderColorLight);
  font-weight: normal;
  font-size: .26rem;
  line-height: 2.5;
}
.dialog_cnt {
  padding: 1.5em 2em;
  border-radius: 3px;
  font-size: .18rem;
}
.dialog_text {
  color: var(--fontColorLight);
}
.dialog_form {
  text-align: center;
}
.dialog_form section {
  display: flex;
  margin: 1em 0;
}
.dialog_form section > label {
  display: inline-block;
  width: 6em;
  line-height: 2.5;
  text-align: right;
}
.dialog_form .required {
  width: 2em;
  font-weight: bold;
  color: var(--kjfwColor);
}
.dialog_form input {
  flex: 1;
  border-radius: 3px;
  border: 1px solid var(--borderColorLight);
  line-height: 2.5;
}

.types {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.types label {
  flex-basis: 23%;
  width: 23%;
  display: block;
  border: 1px solid var(--borderColorLight);
  border-radius: 3px;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
}
.types input {
  display: none;
}
input:checked + label {
  color: #fff;
  background: var(--kjfwColor);
}

.dialog_form_tip {
  display: none;
  color: var(--kjfwColor);
  margin: 1.5em 0;
}
.dialog_form_tip.is-show {
  display: block;
}

.submit {
  width: 40%;
  border: 0;
  border-radius: 3px;
  background: var(--kjfwColor);
  color: #fff;
  line-height: 2.5;
  cursor: pointer;
}
