/*
  **公司列表**
*/
.list_item {
  border-radius: 5px;
  flex-wrap: wrap;
}
.list_item_title {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: .8em;
  border-bottom: 1px solid var(--pageColor);
  /*font-size: 14px;*/
}
.list_item_title .fa {
  font-size: .22rem;
  margin-right: .3em;
  color: var(--zcColor);
}
/*
  **公司信息**
*/
.list_item_content {
  /*padding: 0 2.1918%;*/
}
/**公司名称**/
.list_item_content_title {
  line-height: 2.5;
  font-weight: normal;
  font-size: .26rem;
}
/**公司信息**/
.list_item_content_info {
  display: flex;
  /*justify-content: flex-start;*/
  align-items: center;
}
/**公司信息左边**/
.list_item_content_info_left {
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}
.list_item_content_info_left img {
  width: 100%;
}
.list_item_phone {
  /*font-size: .18rem;*/
}
.list_item_phone .fa {
  margin-right: .5em;
}
/**公司信息右边**/
.list_item_content_info_right {
  flex: 1;
  margin-left: 1.5em;
}
.iconList {
  display: flex;
  margin: .3em 0;
}
/*字体颜色和背景颜色可能要设为变量*/
.tagList-kjfw .tagList_item {
  padding: .3em .4em;
  /*border-color: var(--kjfwColor);*/
  /*background-color: #fcf5e6;*/
  color: var(--kjfwColor);
}

.list_item_content_text {
  margin: 1em 0;
  padding: .6em 1em;
  border-radius: 3px;
  background-color: var(--pageColor);
  color: var(--fontColorLight);
}
.list_item_content_text span {
  color: var(--zcColor);
}

/**查看公司详情**/
.list_item_detail {
  display: block;
  /*padding: .2em 0;*/
  color: var(--kjfwColor);
  text-align: right;
  text-decoration: none;
}
/*
  **查看更多**
*/
.companyMore {
  margin: 16px 1.3333%;
}
.list_more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: .5em 0;
  border-radius: 5px;
  border: 0;
  color: #fff;
  background-color: #f60;
  font-size: 16px;
}
.list_more .fa {
  margin-left: 15px;
  font-size: 26px;
}
