/*搜索框样式*/
.search {
  padding: 24px 2.3333%;
}
.search_text {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.search_text_icon {
  position: absolute;
  top: 6px;
  left: 1.0667%;
  margin-left: .9667%;
  color: var(--fontColorLight);
}
.search_text_icon-font {
  font-size: 20px;
}
.search_text_input,
.search_text_btn {
  height: 10vw;
  max-height: 75px;
}
.search_text_input {
  width: 74.9333%;
  padding-left: 8.3333%;
  border: 1px solid var(--borderColorLight);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.search_text_btn {
  width: 21.0667%;
  border: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  font-size: 16px;
  background-color: var(--HighlightColorOrange);
}