/*
  **公司列表**
*/
.list_item {
  border-radius: 5px;
  flex-wrap: wrap;
}
.list_item_title {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .8em 2.1918%;
  border-bottom: 1px solid var(--pageColor);
  font-size: 14px;
}
.list_item_title .fa {
  font-size: 22px;
  margin-right: .3em;
  color: var(--zcColor);
}
/*
  **公司信息**
*/
.list_item_content {
  padding: 0 2.1918%;
}
/**公司名称**/
.list_item_content_title {
  line-height: 2.5;
  font-weight: normal;
  font-size: 16px;
}
/**公司信息**/
.list_item_content_info {
  display: flex;
  justify-content: space-between;
}
/**公司信息左边**/
.list_item_content_info_left {
  width: 28%;
  min-width: 108px;
  flex-shrink: 0;
}
.list_item_content_info_left img {
  width: 80%;
  height: 18vw;
  max-height: 135px;
  flex-wrap: wrap;
}
.list_item_phone {
  flex-grow: 1;
  flex-wrap: wrap;
  display: inline-block;
  margin-top: .5em;
  font-size: 12px;
  color: #666;
}
.list_item_content_info_left .fa {
  font-size: 14px;
  margin-right: .3em;
}
/**公司信息右边**/
.list_item_content_info_right {
  margin-left: 1.5em;
}
.iconList {
  display: flex;
}
.iconList_item .fa {
  font-size: 20px;
  margin-right: .3em;
  color: var(--zcColor);
}
.tagList-kjfw {
  flex-wrap: wrap;
  padding-top: 1em;
}
.tagList-kjfw .tagList_item { /*字体颜色和背景颜色可能要设为变量*/
  color: #ff7516;
  background-color: #fcf5e6;
  margin-bottom: 5px;
}
.list_item_content_text {
  margin-top: 1em;
  padding: 1em 5px;
  font-size: 12px;
  background-color: var(--pageColor);
}
.list_item_content_text span {
  color: var(--zcColor);
}
/**查看公司详情**/
.list_item_detail {
  flex-grow: 1;
  padding: .8em 2.1918%;
  font-size: 14px;
  color: blue;
  text-align: right;
}
/*
  **查看更多**
*/
.companyMore {
  margin: 16px 1.3333%;
}
.list_more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: .5em 0;
  border-radius: 5px;
  border: 0;
  color: #fff;
  background-color: #f60;
  font-size: 16px;
}
.list_more .fa {
  margin-left: 15px;
  font-size: 26px;
}
