/*项目信息*/
.base_content_label-pad {
  padding-left: 1em;
}
.base_content_num {
  color: #65bd34;
}
.srdzGoods {
  padding: 0 .2rem;
  background: #fff;
  font-size: .2rem;
}
/*商品信息*/
.goods {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--borderColorLight);
  padding: .2rem 0;
}
.goods_img {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.goods_img img {
  width: 100%;
}
.goods_msg {
  flex: 1;
  margin-left: .2rem;
}
.goods_msg span {
  display: block;
}
.goods_msg_money {
  margin-top: 1em;
  font-size: .24rem;
  color: var(--srdzColor);
}
/*款式选择*/
.model {
  padding-bottom: .2rem;
  border-bottom: 1px solid var(--borderColorLight);
  overflow: hidden;
}
.numberTitle,
.modelTitle {
  line-height: 3;
}
.modelList_item {
  position: relative;
  float: left;
  border: 1px solid var(--borderColorLight);
  border-radius: 5px;
  margin-bottom: .5em;
  margin-right: .5em;
  padding: .5em 1em;
  cursor: pointer;
  overflow: hidden;
}
.modelList_item_div {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em .2em;
  transform: translateX(25%) translateY(30%) rotate(45deg);
  background: var(--srdzColor);
  color: #fff;
  font-size: .18rem;
}
.modelList_item-sk .modelList_item_div-block {
  display: block;
}
.modelList_item_div .fa {
  transform: translateX(-18%) translateY(7%) rotate(-45deg);
}
.modelList_item-sk {
  border-color: var(--srdzColor);
}
/*数量*/
.number {
  padding-bottom: .2rem;
}
.numberFlex {
  display: flex;
  align-items: center;
}
.number_choose {
  overflow: hidden;
  font-size: .22rem;
  color: var(--srdzColor);
}
.number_choose label {
  float: left;
  padding: .5em 1em;
  border: 1px solid var(--borderColorLight);
}
.number_choose label:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.number_choose label:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.number_choose input {
  float: left;
  width: .8rem;
  padding: .5em 0;
  border: 1px solid var(--borderColorLight);
  text-align: center;
  background: #fff;
}
.number-text {
  margin-left: 1em;
  color: var(--fontColorLight);
}
/*雇主*/
.person_bar_btn {
  background-color: var(--srdzColor);
}
/*介绍*/
.intro {
  margin-bottom: 0;
}
.intro_list {
  display: flex;
  justify-content: space-between;
  font-size: .26rem;
}
.intro_list_item {
  position: relative;
  flex-basis: 49%;
  width: 49%;
  padding: .6em 0;
  text-align: center;
  border-bottom: 1px solid var(--borderColorLight);
  cursor: pointer;
}
.intro_list_item.is-active {
  color: var(--srdzColor);
  border-bottom: 1px solid var(--srdzColor);
}
.intro_list_item:first-child {
  display: flex;
}
.intro_list_item:first-child::after {
  position: absolute;
  top: 20%;
  right: -2.5%;
  content: "";
  display: inline-block;
  height: 60%;
  border-right: 1px solid var(--borderColorLight);
}
.intro_list_span {
  width: 100%;
}
/*用户编辑文本*/
.userInput_item {
  display: none;

}
.userInput_item.is-show {
  display: block;
}
.list_item_a {
  color: #333;
}
.userInput li img {
  width: 100%;
}

/*底栏*/
.ftCtrl_item-link {
  color: var(--srdzColor);
}
.ftCtrl_item_btn {
  background-color: var(--srdzColor);
}

/* 封面图 */
.frontPic {
  width: 100%;
  height: 3rem;
  overflow: hidden;
}
.frontPic img {
  width: 100%;
}
