.header-logo {
  background-image: url("../img/srdz_logo.png");
}
.gridWrap {
  padding: 14px 0;
  background-color: #fff;
  border-bottom: 1px solid var(--borderColorLight);
}
.srch_btn {
  background-color: var(--srdzColor);
}
.grid_item_icon {
  background-color: #333;
}
.grid_item_icon .fa {
  color: #fff;
  font-size: 30px;
}

.hottitle {
  border-bottom: 1px solid var(--borderColorLight);
}

.list.index {
  width: 100%;
  margin: 0;
  font-size: .18rem;
  overflow: hidden;
}
.index .list_item {
  display: block;
  float: left;
  margin: 1em 0;
  padding: 0 .2rem;
  width: 50%;
  border: 0;
}
.index .list_item:nth-child(odd) {
  border-right: 1px solid var(--borderColorLight);
}
.index .list_item_img {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  overflow: hidden;
}
.index .list_item_text {
  height: 1.6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list_item_text a {
  text-decoration: none;
}
.index .list_item_title {
  line-height: 1.6;
  font-weight: normal;
  font-size: .18rem;
  color: var(--fontColorLight);
}
.index .list_item_title .fa {
  padding-left: .5em;
}
.index .list_item_coin {
  font-weight: bold;
  color: var(--srdzColor);
}

