.srdz_title_wrap_label {
  color: #333;
}
.list_item_color {
  color: lightgreen;
}

.filter_content_list_item.is-active {
  color: var(--srdzColor);
}
.base_title_text a {
  color: #333;
  text-decoration: none;
}
.hostlist_item_a {
  color: #333;
}
